;; shadow-cljs configuration
{:source-paths ["src" "test"]

 :dependencies [[com.andrewmcveigh/cljs-time "0.5.2"]
                [prismatic/schema "1.1.7"]
                [nubank/matcher-combinators "0.8.2"]]

 :builds {:tests {:target :node-test
                  :output-to "out/all-tests.js"
                  :autorun true}
          :dev {:target :node-script
                :main paprika.collection-test/main
                :output-to "out/script.js"}}}
